* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: solid #e58753;
    margin: 5%;
}

.stappen {
    display: flex;

}

footer {
    position: fixed;
    bottom: 0;
    width: 94.5vw;
    border-radius: 1em;
}

footer nav ul{
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding: 3% 4%;
    margin-bottom: 5%;
    margin-right: 5%;
    background-color: #e58753;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #e5d053;
}

a:active {
    color: #e5d053;
}

/* index specifiek */
.homepagina {
    align-items: center;
    background-image: url(/images-links/achtergrond-statiegeldbak.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.logohome img {
    width: 100%;
    padding: 15%;
}

.logohome {
    margin: 10%;
    border-radius: 1.5em;
    background-color: #e5d053;
    opacity: 0.9;
}

.homepagina h1{
    padding-top: 31%;
    padding-bottom: 40%;
    padding-left: 12%;
    padding-right: 12%;
    font-size: large;
    text-align: center;
    font-family: jost;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2%;
}

/* hoe-te-gebruiken specifiek */
div {
    display: flex;
    align-items: center;
 }

div img{
    padding-right: 5%;
    width: 100%;

 }

.kaart {
    width: 100%;
 }
 
/* header subpagina's */
.subpaginas {
    background-color: #e58753;
    margin-bottom: 20%;
 }
 
.subpaginas img {
    display: flex;
    width: 23%;
    padding-left: 5%;
    align-items: center;
}

main article h1 {
    width: 50%;
    margin-bottom: 20%;
    border-bottom: solid black;
    font-size: large;
    text-align: center;
    font-family: jost;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2%;
}

main article section img {
    width: 40%;
}

section div p {
    font-size: 1.6em;
    font-family: jost;
}

div.stappen {
    padding: 15%;
    margin-bottom: 10%;
}